<!DOCTYPE html>
<html>
    <head>
        <!-- adding required meta tags-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- adding style sheets from bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <link lang='sass' rel="stylesheet" href="./static/styles/helen.css">
        <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />

        <!-- map -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            charset="utf-8"
        ></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"
            charset="utf-8"
        ></script>
		
		<script src="//cdn.jsdelivr.net/npm/jquery-mapael@2.2.0/js/jquery.mapael.min.js" charset="utf-8"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js" charset="utf-8"></script>
		<script src="https://cdn.githubraw.com/neveldo/mapael-maps/86def5fb/world/world_countries.js" charset="utf-8"></script>


        <title>{% block title %}Helen{% endblock %}</title>

        <script src="../static/helen.js" type="text/javascript"></script>

    </head>

    <body>
        <!-- adding the MLH logo to the webpage-->
        <header class="nav-bar">
            <div class="nav-content">
                <a href="/">
                    <div class="nav-logo">
                        <img src="./static/img/logo.svg" />
                    </div>
                </a>
            </div>
        </header>

        <!-- using jinja nav template -->
        {% include 'nav.html' %}


        <!-- add profile picture -->
        <div class="profile">
			<div id="profile-picture" class="profile-picture">
				<img src="./static/img/helen.jpg" />
			</div>
			<h1 class="mytitle">{{ title }}</h1>
            <h3> <i>mlh production engineer fellow 22.sum.22</i></h3>
		</div>

        <!-- using jinja education and work template -->
        <div class="parent">
            <div class="child">
                <h3><u>About me</u></h3>
                <p> 👋🏼 - Hi, I am Helen! <br>
                    💻 - I am a 3rd year computer science student currently studying at the University of Waterloo!<br>
                    🎨 - Outside of school, I like to <a href="https://www.instagram.com/hxcolor">draw</a> and take <a href="https://www.instagram.com/hxlens">pictures</a>. <br>
                    🐍 - My favourite language to code in is Python!
                </p>
            </div> <br>
            
            <!-- education info -->
            <div class="child">
                {% include 'education_info.html' %}
            </div> <br>

            <!-- work info -->
            <div class="child">
                {% include 'work_info.html' %}
            </div> <br>
            
                <div class="parent">
                    <a class="nav-item nav-link" id="home" href="/helen/hobbies">
                    <button class="button button1">Click here to view my hobbies!</button> 
                </a>
                </div>
             <br>

            <!-- map -->
            <div class="child">
                <div class="container">
                    <section class="map">
                        <h3><u>Places I have visited</u></h3>
                        <p>Hover over plots to view locations.</p>
                        <div class="mapcontainer">
                            <div class="map">
                                <span>Javascript is required to view the map</span>
                                <span>I've been to China, Canada, California and Florida</span>
                            </div>
                        </div>
                    </section>

                </div>
                

            </div>

            
        </div>
        

        </body>
</html>
    
