<!DOCTYPE html>
<html>
    <head>
        <!-- adding required meta tags-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- adding style sheets from bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" type="text/css" href="../static/styles/kristen.css">

        <title>{% block title %}Hobbies{% endblock %}</title>
    </head>

    <body>
        {% include 'nav.html' %}
        <div class="hobbies">
            <h1>{{ title }}</h1>
                <div class="grid">
                    <div>
                        <div class="img games" style="background-image: url('../static/img/kristen/tarot_cards.jpg');">
                        </div>
                        <p>I enjoy doing tarot card readings and learning about astrology.</p>
                    </div>
                    <div><div class="img choir" style="background-image: url('../static/img/kristen/crystals.JPG');">
                        </div>
                        <p>I enjoy collecting pretty crystals and learning about spirituality. </p>
                    </div>
                    <div>
                        <div class="img coding" style="background-image: url('../static/img/kristen/anime.JPG');">
                        </div>
                        <p>I enjoy watching anime - my favourite one recently has been Spy x Family.</p>
                </div>
    </body>
</html>
