<!DOCTYPE html>
<html>
    <head>
        <!-- adding required meta tags-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- adding style sheets from bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" type="text/css" href="{{ url_for('css') }}">

        <title>{% block title %}Hobbies{% endblock %}</title>
    </head>

    <body>
        {% include 'nav.html' %}

        <h1>{{ title }}</h1>
    </body>
</html>
