<!DOCTYPE html>
<html>
    <head>
        <!-- adding required meta tags-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- adding style sheets from bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <link lang='sass' rel="stylesheet" href="./static/styles/kristen.css">

        <title>{% block title %}Kristen{% endblock %}</title>

    </head>

    <body>
        <!-- adding the MLH logo to the webpage-->
        <header class="nav-bar">
            <div class="nav-content">
                <a href="/">
                    <div class="nav-logo">
                        <img src="./static/img/logo.svg" />
                    </div>
                </a>
            </div>
        </header>

        <!-- creating the navigation bar and routing it to each fellow's webpage-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <a class="nav-item nav-link" id="kristen" href="/kristen">Kristen</a>
                <a class="nav-item nav-link" id="helen" href="/helen">Helen</a>
                <a class="nav-item nav-link" id="catherine" href="/catherine">Catherine</a>
            </div>
        </nav>

        <!-- script to use your own javascript stored in static-->
        <script
            type="text/javascript"
            src="{{ url_for('static', filename= 'index.js')}}"
        ></script>

        <!-- adding my picture to my page and text to the webpage-->
        <div class="profile">
            <div id="profile-picture" class="profile-picture" alt="picture of me">
                <img src="./static/img/Kristen_Zhang.jpg"/>
            </div>
            <h1>{{ title }}</h1>
            <p>Hello everyone! I live in a small city called London, located in Canada. <br>
                Currently I am a 3rd year Software Engineering student at the University of Western Ontario.<br>
                I love discovering new food places and meeting new friends! <br> My main languages are: Java, Python, C, and C#.<br>
                <br><br>
            </p>
            <h2>Work Experience</h2>
            <p>
                <b>Summer Research Intern @ Western University &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; May 2022 - Present</b><br>
                - In charge of recording and collecting exercise movement data. <br>
                - Creating GUIs using python to enable easier use of recording devices. <br>
                
                <b>Production Engineering Fellow @ MLH &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; May 2022 - Present</b><br>
                - Creating a portfolio website for orientation hack!
            </p>
        </div>
    </body>
</html>