<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link lang='sass' rel="stylesheet" href="./static/styles/kristen.css">

    <title>{% block title %}Submit Form{% endblock %}</title>
</head>

<body>
    <form id="form">
        <input name="username" type="text">
        <input name="password" type="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>